<div class="box">
  <h1>Mohamed Masood Alam</h1>
  <p><i>Aspiring Full Stack Web Developer</i></p>
  <p>
    On my way to become a full stack web developer,have mostly 
    worked on .net platform and desktop applications in healthcare domain.
    Currenlty working for leading healthcare company.
    Based out of Bangalore, India.
  </p>
  <br />
  <br />
  <br />
  <a href="http://github.com/MasoodGit">
    <img src="assets/github_alt.png">
  </a>
</div>